.footer__container {
  @extend %container;
  @media (min-width: $desktop) {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
  }
}
.logo--footer {
  @include display;
  font-size: 24px;
  margin-bottom: 20px;
}
.footer {
  min-width: 480px;
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: $footer-bg;
}
@media (min-width: $tablet) {
  .footer__group {
    display: flex;
    justify-content: space-around;
    align-items: baseline;
  }
}
@media (min-width: $desktop) {
  .footer__group {
    gap: 70px;
  }
}
@media (max-width: $tablet) {
  .footer-info {
    margin-bottom: 60px;
  }
  .join {
    margin-bottom: 60px;
  }
}
@media (min-width: $tablet) and (max-width: $desktop) {
  .footer__group {
    margin-bottom: 60px;
  }
}
.footer-address {
  @media (min-width: $desktop) {
    margin-bottom: 0;
  }
}
.footer-address__place {
  @media (max-width: $desktop) {
    @include display;
  }
  color: $secondary-accent;
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
}
.footer-address__contacts {
  @media (max-width: $desktop) {
    @include display;
  }
  color: $address;
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1)
}
.footer-address__details:not(:last-child) {
  margin-bottom: 9px;
}

.join__heading {
  @media (max-width: $desktop) {
    @include display;
  }
  margin-bottom: 20px;
  color: $secondary-accent;
  @extend %heading-secondary;

}
.join__links {
  display: flex;
  align-items: center;
  justify-content: center;
}
.join__social {
  @include display;

  width: 44px;
  height: 44px;

  border-radius: 50%;
  color: $secondary-accent;
  background-color: rgba(255, 255, 255, 0.1);

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:not(:last-child) {
    margin-right: 10px;
  }
  &:hover, &:focus {
    background-color: $primary-accent;
  }
}
.join__button {
  width: 20px;
  height: 20px;
  fill: currentColor;
}
// .subscription {
//   padding-top: 12px;
// }
.subscription__heading {
  @media (max-width: $desktop) {
    @include display;
  }
  margin-bottom: 20px;
  color: $secondary-accent;
  @extend %heading-secondary;
}
@media (min-width: $desktop) {
  .subscription > label {
    display: flex;
    gap: 12px;
  }
}
.subscription__input {
  display: block;
  margin-left: auto;
  margin-right: auto;

  padding: 15px;
  margin-bottom: 20px;
  width: 450px;
  height: 50px;
  background-color: $footer-bg;
  color: $secondary-accent;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;

  @media (min-width: $desktop) {
    width: 358px;
  }
}
.subscription__button {
  display: block;
  margin-left: auto;
  margin-right: auto;

  width: 200px;
  height: 50px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  color: $secondary-accent;
  background-color: $primary-accent;
  border: 0px solid $primary-accent;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  cursor: pointer;

  &::after {
    display: inline-block;
    transform: translateY(25%);
    margin-left: 10px;
  
    content: "";
    width: 24px;
    height: 24px;
    background-image: url(../images/send.svg);
    background-size: contain;
  }

  &:hover {
    background-color: #188CE8;
  }
}
