.logo {
  color: $primary-accent;
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;

  @media (min-width: $desktop) {
    margin-right: 92px;
  }
}
.logo__element--black {
  color: $logo-black;
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
}
.logo--white {
    color: $secondary-accent;
}