$main-text: #757575;
$heading-text: #212121;
$primary-accent: #2196f3;
$secondary-accent: #ffffff;
$logo-black: #000000;
$address: rgba(255, 255, 255, 0.6);
$footer-bg: #2f303a;
$additional-grey: #f5f4fa;
$social-links: #afb1b8;